# Server Configuration
PORT=3000

# Database Configuration (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dfo_core?schema=public"

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Authentication
JWT_SECRET="your-super-secret-key"
JWT_EXPIRATION="24h"

# Application Environment
NODE_ENV=development
